html {
	color: #ababab;
	min-height: 100%;
}

body {
	font-family: sans-serif;
	background-image: linear-gradient(to bottom right, #014422, #102255);
	min-height: 100%;
}

main {
	margin-left: 5%;
	margin-right: 5%;
	display: inline-block;
	width: 90%;
}

header, footer {
	text-align: center;
	align-items: center;`
}

hr {
	color: #777777;
}

code {
	font-size: 1.1em;
	border-radius: 10%;
	background-color: black;
	padding: 2px;
	overflow-wrap: break-text;
}

a {
	text-decoration: none;
}
a:link {
	color: #aaaaff;
}
a:visited {
	color: hotpink;
}
a:hover {
	color: red;
}

.article-title {
	font-size: 2.1em
}

.article-subtitle {
	font-style: italic;
	font-weight: bold;
}

.article-heading1 {
	font-size: 1.7em;
}

.article-heading2 {
	font-size: 1.4em;
}

.article-image-div {
	text-align: center;
}

.article-image-caption {
	font-style: italic;
	color: lightgray;
}

.article-code {
	background: black;
	padding: 7px;
	border-radius: 5px;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.article-paragraph {
	font-size: 1.2em;
}

